#Homepage-Where-To-Start{
    background-color: #C1D8F0;
}

.homepage-image-section-two{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35.625rem;
    /* ^ 570px */
}

#Homepage-Where-To-Start .row{
    margin-bottom: 1rem;
}

/* MD and below */
@media screen and (max-width: 991px) {
    .where-to-start-text{
        margin-top: 1rem;
        text-align: center;
    }    
}