.Fake-Accordion-Button{
    padding: .75rem;
    background-color: #4663accc;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
    color: #212529;
    margin-top: 1rem;
}

.f-button-active{
    font-weight: 700;
    background-color: #4663ac;
}

.f-button-text{

}