.Fake-Accordion-Dropdown{
    display: none;
    padding: 1rem 0;
}

.basics-dropdown-item-active{
    font-weight: 700;
}

/* MD and below */
@media screen and (max-width: 991px) {
    .FakeAccordion-Dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}