.Recipe-Page{
    
}

.recipe-col{
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    border: medium double #4663ac;
}

.recipe-container {
    padding: 0 4%;
    margin-bottom: 1rem;
}

.recipe-page-pg{
    /* pg = paragraph */
    
}

.temp-center{
    text-align: center;
}

/* MD AND BELOW */
@media screen and (max-width: 991px){
    .recipe-col{
        margin-bottom: 0.5rem;
    }

    .recipe-container{
        margin-bottom: 0.5rem;
    }
}