#Header{
    text-align: center;
    background-color: #c8d9ed;
    padding: 0.5rem 6%;
}

.header-logo{
    font-weight: 900;
    color: #4663ac;
    font-size: 2.5rem;
    /* 40px */
    
    /* font-size: 2.9vw; */
    /* font-size: 2.36vw; */
}

/* .navbar-margin-setter{
    margin-bottom: 2rem;
} */

#Header .container{
    /* both navbar & container being flex is causing wonky stuff, so we're setting container back to block */
    display: block;
}

#Header .container .row{
    margin-top: 0.5rem;
}

.header-search-bar{
    padding-top: auto;
}

.header-page{
    margin: auto calc(100vw / 240);
    /* font-size: 1.25rem; */
    /* 20px */

    font-size: min(1.1vw, 20px);
    --bs-nav-link-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-active-color: rgba(0,0,0,0.95);
    /* font-size: 1.18vw; */
}

/* @media screen and (min-width: 1200px){
    .header-page{
        font-size: 1.2vw;
    }
} */

/* @media screen and (max-width: 1399px){
    
} */

/* LG */
@media screen and (max-width: 1199px){

    .header-page{
        font-size: 1.25rem;
    }
}

/* MD & BELOW */
@media screen and (max-width: 991px){
    #Header{
        padding: 0.5rem 0;
    }

    .header-logo{
        font-size: 4rem;
    }

    .search-bar-input{
        margin-bottom: .25rem;
    }
}