#Header-Search-Bar{
    justify-content: center;
    width: 100%;
    /* padding: 0 2rem; */
}

.search-bar-input{
    width: 100%;
    /* width: 325px; */
}

#Header-Search-Bar .dropdown-menu{
    top: auto;
    left: auto;
    max-height: 440px;
    overflow-y: scroll;
}



/* before XXL (XL and below) */
@media screen and (max-width: 1399px) {
    /* .search-bar-input{
        width: calc((1400px - 100vw) * 0.5 + 325px);
    } */
}

/* L and below */
@media screen and (max-width: 1199px){
    .navbar-nav .dropdown-menu{
        position: absolute;
    }
}

/* M and below */
/* @media screen and (max-width: 991){
    
} */