#Basics-Info{
    background-color: #c1d8f0;
}

.is-hidden{
    display: none;
}

.basics-info-container{
    padding-bottom: 0.5rem;
}

.basics-info-dropdown{
    display: none;
    padding: 1rem 0 1rem 0;
}

.basics-dropdown-item{

}

.basics-dropdown-item-active{
    font-weight: 700;
}

.info-div{
    padding: auto auto 0.5rem auto;
}

@media screen and (max-width: 991px){
    .basics-info-container{
        display: none;
    }

    .basics-info-dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}