#Basics-Info{
    background-color: #c1d8f0;
}

.is-hidden{
    display: none;
}

.info-div{
    padding: 1rem 1.25rem;
}

/* space between selectors = nested inside (ie, .accordion element inside of a #Basics-Info element) */
#Basics-Info .accordion{
    /* accordion background is inherited - ie #c1d8fo */
    --bs-accordion-bg: inherit;
    --bs-accordion-border-width: 0;
}