body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Montserrat', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2deeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2{
  text-align: center;
}

img{
  max-width: 100%;
}

a{
  -webkit-text-stroke: initial;
}

.odd-section, .odd-section-no-padding{
  background-color: #e1f1fd;
}

.even-section, .even-section-no-padding{
  background-color: #c1d8f0;
}

.odd-section, .even-section{
  padding: 1rem 8% 1rem;
}

/* 
VERY rough conversion from px to vw: 
px * 0.059 = vw
*/

.header-xl, .header-lrg, .header-med{
  color: #4663ac;
}

.header-xl, .header-lrg{
  font-weight: 900;
}

.header-xl {
  font-size: 2.375rem;
  /* ^ 38px */
  -webkit-text-stroke: 0.0125rem white;
  /* about 0.2px @ font-size 100% */
}

.header-lrg {
  font-size: 2.125rem;
  /* ^ 34px */
  -webkit-text-stroke: 0.009375rem white;
  /* about 0.15px @ font-size 100% */
}

.header-med {
  font-weight: 700;
  font-size: 1.875rem;
  /* ^ 30px */

  -webkit-text-stroke: 0.00625rem white;
  /* about 0.1px @ font-size 100% */
}

.text-lrg, .text-lrg-ital, .text-lrg-bold {
  font-weight: 400;
  font-size: 1.5rem;
  /* ^ 24px */
}

.text-lrg-bold {
  font-weight: 700;
}

.text-lrg-ital {
  font-style: italic;
}

.text-med, .text-med-ital, .text-med-bold {
  font-weight: 400;
  font-size: 1.25rem;
  /* ^ 20px */
}

.text-med-bold {
  font-weight: 700;
}

.text-med-ital {
  font-style: italic;
}

.text-small-ital {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  /* ^ 16px */
}

.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-common{
  border: 0.1875rem solid #9f9f9f;
}

.item-uncommon{
  border: 0.1875rem solid #1eff00;
}

.item-rare{
  border: 0.1875rem solid #0070dd;
}

.item-epic{
  border: 0.1875rem solid #a335ee;
}

.navbar-margin{
  margin-top: 84px;
}

li{
  padding-bottom: 0.5rem;
}

li:last-child{
  padding-bottom: 0;
}

.hide-bullet-point{
  list-style-type: none;
}

/* i'm making my own max widths for all of these, don't need to worry about bootstrap doing it */
.container{
  max-width: 100%;
}

.divider{
  margin: 0 auto 0 auto;
  border-top: 5px solid #4663ac;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.btn-primary{
  --bs-btn-bg: #4663ac;
  --bs-btn-border-color: #4663ac;
  --bs-btn-hover-bg: #4662aa;
  --bs-btn-hover-border-color: #4662aa;
  --bs-btn-active-bg: #4663ac;
  --bs-btn-active-border-color: #4663ac;

}

/* LG in bootstrap */
@media screen and (max-width: 1199px){

  html{
    font-size: 80%;
  }

  .header-xl{

  }

  .header-lrg{

  }

  .header-med{

  }

  .text-lrg, .text-lrg-bold, .text-lrg-ital{

  }

  .text-med, .text-med-bold, .text-med-ital{

  }

  .text-small-ital{
    
  }

  .navbar-margin{
    margin-top: 67.172px;
  }
}

/* MD in bootstrap */
@media screen and (max-width: 991px){
  html{
    font-size: 60%;
  }

  .navbar-margin{
    margin-top: 112.17px;
  }

  .item-common{
    border: 2px solid #9f9f9f;
  }
  
  .item-uncommon{
    border: 2px solid #1eff00;
  }
  
  .item-rare{
    border: 2px solid #0070dd;
  }
  
  .item-epic{
    border: 2px solid #a335ee;
  }

  .med-icon-shrink{
    width: 2rem;
  }

  .lrg-icon-shrink{
    width: 4rem;
  }

  .hide-md{
    display: none;
  }
}

/* SM & XS in bootstrap */
@media screen and (max-width: 767px){
  .header-xl{

  }

  .header-lrg{

  }

  .header-med{

  }

  .text-lrg, .text-lrg-bold, .text-lrg-ital{

  }

  .text-med, .text-med-bold, .text-med-ital{

  }

  .text-small-ital{
    
  }
}